</body>
<footer>
    <div class="container">
        This web application was created to fulfill the requirements of Web Technology module and does not represent an
        actual company, service, or any other entity. All images used are for illustrative purposes only. All rights
        reserved.
    </div>
</footer>

</html>